In [157]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import re

In [151]:
# Scraping

res = requests.get("https://en.wikipedia.org/wiki/Catalan_independence_movement")
text_res = res.text
third_table = BeautifulSoup(text_res, "lxml").find_all("table")[2]
all_rows = third_table.find_all("tr")

# Grab column names
column_names = ['date', 'independent', 'federal', 'autonomous', 'region', 'dnk', 'dnr']    

# Remove the first row, as it's the column names, which are not stored in column_names
all_rows.pop(0)
cat_ind = pd.DataFrame(index=range(len(all_rows)), columns=column_names)

# Loop through each row, grab the text and append to the data frame
for every_row in range(len(all_rows)):
    row = all_rows[every_row].find_all("td")
    read_row = [x.get_text() for x in row] # get the text from each td element and returna list
    cat_ind.iloc[every_row] = read_row

In [159]:
cat_ind.tail()

                    date independent federal autonomous region  dnk  dnr
38  2016 3rd series[159]        38.9    23.2       24.1    5.7  N/A  N/A
39  2016 4th series[160]        36.1    29.2       23.6    4.5  3.4  3.2
40  2017 1st series[137]        37.3    21.7       28.5    7.0  3.8  1.8
41  2017 2nd series[138]        34.7    21.7       30.5    5.3  6.1  1.7
42  2017 3rd series[139]        40.2    21.9       27.4    4.6  4.7  1.2

In [161]:
re.sub("\[[0-9]{3,}\]", "", "2017 3rd series[139]")

'2017 3rd series'