In [26]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import re

In [27]:
# Scraping

res = requests.get("https://en.wikipedia.org/wiki/Catalan_independence_movement")
text_res = res.text
third_table = BeautifulSoup(text_res, "lxml").find_all("table")[2]
all_rows = third_table.find_all("tr")

# Grab column names
column_names = ['date', 'independent', 'federal', 'autonomous', 'region', 'dnk', 'dnr']    

# Remove the first row, as it's the column names, which are not stored in column_names
all_rows.pop(0)
cat_ind = pd.DataFrame(index=range(len(all_rows)), columns=column_names)

# Loop through each row, grab the text and append to the data frame
for every_row in range(len(all_rows)):
    row = all_rows[every_row].find_all("td")
    read_row = [x.get_text() for x in row] # get the text from each td element and returna list
    cat_ind.iloc[every_row] = read_row

In [28]:
cat_ind.tail()

                    date independent federal autonomous region  dnk  dnr
38  2016 3rd series[159]        38.9    23.2       24.1    5.7  N/A  N/A
39  2016 4th series[160]        36.1    29.2       23.6    4.5  3.4  3.2
40  2017 1st series[137]        37.3    21.7       28.5    7.0  3.8  1.8
41  2017 2nd series[138]        34.7    21.7       30.5    5.3  6.1  1.7
42  2017 3rd series[139]        40.2    21.9       27.4    4.6  4.7  1.2

In [96]:
# re.sub("\[[0-9]{3,}\]", "", "2017 3rd series[139]")
# re.sub("[0-9{3}]","", cat_ind.date)

cat_ind.date = cat_ind.date.replace("\\[[0-9]{3}\\]", "", regex=True)
series = ['1st series', '2nd series', '3rd series', '4th series']
month = ['January', 'April', 'August', 'November']

for x in range(len(series)):
    cat_ind.date = cat_ind.date.replace(series[x], month[x], regex=True)

cat_ind.date

0         June 2005
1     November 2005
2        March 2006
3         July 2006
4      October 2006
5     November 2006
6        March 2007
7         July 2007
8      October 2007
9     December 2007
10     January 2008
11         May 2008
12        July 2008
13    November 2008
14    February 2009
15         May 2009
16        July 2009
17    December 2009
18     2010 January
19       2010 April
20      2010 August
21    2010 November
22     2011 January
23       2011 April
24      2011 August
25     2012 January
26       2012 April
27      2012 August
28     2013 January
29       2013 April
30      2013 August
31     2014 January
32       2014 April
33     2015 January
34       2015 April
35      2015 August
36     2016 January
37       2016 April
38      2016 August
39    2016 November
40     2017 January
41       2017 April
42      2017 August
Name: date, dtype: object